
<div class="animate__animated animate__fadeIn animate__slow">
    <h2>Consultar por nombre de pais</h2>
    <hr>

    <div class="row">
        <div class="col">
            <app-pais-input (onBuscar)="buscar($event)" (onDebounce)="sugerencias($event)" placeholder="Consultar pais..."></app-pais-input>
        </div>
    </div>

    <ul *ngIf="sugeridos.length >= 1" class="list-group">
        <li *ngFor="let pais of sugeridos" class="list-group-item list-group-item-action">
            <a class="nav-link" [routerLink]="['/pais', pais.cca3]">
                {{pais.name.common}}, {{pais.name.official}}
            </a>
        </li>
        <li class="list-group-item list-group-item-action" (click)="buscar(sugerido)">
            <a class="nav-link">
                Buscar "{{sugerido}}"
            </a>
        </li>
    </ul>
</div>
<hr>

<div *ngIf="existeError" class="alert alert-danger">
    No se encontro ninguna coincidencia con "{{termino}}"
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
